<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-white">
          <h5>Fair Trading</h5>
          <p>
            Experience stock trading with our powerful, yet intuitive platform.
            Practice with virtual money before trading with real funds.
          </p>
        </div>
        <div class="col-md-4 text-white">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a class="text-decoration-none text-white" routerLink="/learn">Learn</a></li>
            <li><a class="text-decoration-none text-white" routerLink="/community-forum">Community Forum</a></li>
            <li><a class="text-decoration-none text-white" routerLink="/contact-us">Contact Us</a></li>
            <li><a class="text-decoration-none text-white" routerLink="/crypto">Crypto</a></li>
            <li><a class="text-decoration-none text-white" routerLink="/stocks">Stocks</a></li>
          </ul>
        </div>
        <div class="col-md-4 text-white">
          <h5>Contact Us</h5>
          <p>
            Email: support@fairtrading.com<br>
            Phone: +40 751 378 545
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center text-white">
          <small>&copy; Fair Trading. All rights reserved.</small>
        </div>
      </div>
    </div>
  </footer>
  