<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login(email.value, password.value)">
              <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" #email required>
              </div>
              <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password" #password required>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>